<!-- your html code here -->
<div class="container-flex bg-light pt-2 pb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="ms-2">Contact</h1>
            <p class="fs-5 ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore magni similique possimus.
                Quisquam distinctio quibusdam sint tempora consequatur nobis voluptatum rem, suscipit vel totam
                provident optio, quam aperiam a nesciunt!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <form>
                        <div class="row justify-content-end mb-3">
                          <div class="col-auto">
                              <label for="inputEmail1" class="col-form-label fw-bold">Your E-mail</label>
                          </div>
                          <div class="col-10">
                              <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                          </div>
                        </div>
                        
                        <div class="row justify-content-end mb-3">
                            <div class="col-auto">
                                <label for="formControlTextArea1" class="col-form-label fw-bold">Your message</label>
                            </div>
                            <div class="col-10">
                                <textarea type="text" class="form-control" id="formControlTextArea1" placeholder="Please enter you message here..." rows="4"></textarea>
                            </div>
                          </div>
                          <div class="row justify-content-end">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </div>               
                        </form>
                </div>
            </div>
        </div>
    </div>

</div>