<div class="card mb-3" style="width: 100%;">
    <div class="row g-0 align-items-center">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Gray Matter Technologies</h5>
                <p class="card-text">
                    Gray Matter Technologies es una empresa líder en tecnología e innovación. Fundada en 1992, se ha destacado por su compromiso con el desarrollo de soluciones tecnológicas avanzadas en diversas áreas, desde la informática hasta la ingeniería de materiales.</p>
                <p class="card-text"><small class="text-body-secondary">Walter White, miembro fundador.</small></p>
            </div>
        </div>
        <div class="col-md-4">
          <img src="https://hips.hearstapps.com/esq.h-cdn.co/assets/16/26/480x480/square-1467224019-54d447ac41a88-walterdef.jpg?resize=1200:*" class="img-fluid rounded-circle" style="max-width: 75%; height: auto;">
        </div>
    </div>
  </div>
 