
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4">
        <img src="https://i.pinimg.com/736x/5b/cd/17/5bcd17d4e4476fb181544db3e69bb2e0.jpg" class="img-fluid rounded-circle" style="max-width: 75%; height: auto;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-text">Consultoría en Tecnología: Proporciona asesoramiento experto en áreas como inteligencia artificial, computación cuántica, biotecnología, energía renovable y más. Ayuda a las organizaciones a comprender y aprovechar las últimas tendencias tecnológicas para impulsar su crecimiento y competitividad.</p>
        </div>
      </div>
    </div>
  </div>